.zone-label {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.zone-label::before {
  display: none !important;
}

.leaflet-tooltip.zone-label {
  background: transparent;
  border: none;
  box-shadow: none;
}